body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1b0550;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #d6f1a0;
    color: #000000;
    text-align: center;
    padding: 15px;
    background-image: url('Hero\ Image.jpg');
}

h1 {
    font-size: 40px;
   
}

li a:hover {
    color: hsl(251, 75%, 60%);
}

.container {
    max-width: 800px;
    margin: 5px auto;
    text-align:justify;
    padding: 20px;
    color:rgb(15, 15, 14);
    background-color: #fdfdfd;
   
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color:#050505;
    text-indent: 0%;
    
}



header1 {
    background-color: #3d3c36;
    color: #050505;
    padding: 20px 0;
    background-image: url('Hero\ Image.jpg');
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #252121;
    padding: 15px;
    transition: color 0.3s;

}

nav a:hover {
    color: #fdfcdc;
}

.hero {
    background-image: url('Hero\ Image.jpg');
    background-size: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #ffffff;
}

.hero h2 {
    font-size: 36px;
}

section {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('Hero\ Image.jpg');
    border-radius: 8px;
}

.project img {
    max-width: 110%;
    border-radius: 5px;
}

footer {
    background-color: #8d8787;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-image: url('Hero\ Image.jpg');
}

.container3 {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('hero-image.jpeg');
}

h1 {
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: linear-gradient(to right, rgb(213, 219, 52), #bc9c1a);    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e69a4d;
}